*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background: url(../img/fondo.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}