*{
    margin:0px;
    padding: 0px;
    box-sizing: content-box
}
body{
    margin: 0px;
    padding: 0px;
    background: url(../img/fodo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}